body {  font-family: Arial, Verdana, Helvetica, sans-serif;}

#homepage { 
            background-repeat: no-repeat;
            background-attachment: cover;
            background-size: 100%;
    
            }



.navbar {background-color:  #774e3a;
         }

.ft { background-color: #774e3a;}

.slide {height: 100vh;}

h1, h2, h4, h5 { color: brown}

